/* CIRCLE */

@keyframes rotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg) translateZ(10px)
      scale(1);
  }
  25% {
    transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg) translateZ(10px)
      scale(1.5);
  }
  50% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(90deg) translateZ(10px)
      scale(2);
  }
  75% {
    transform: rotateX(540deg) rotateY(540deg) rotateZ(0deg) translateZ(10px)
      scale(1.5);
  }
  100% {
    transform: rotateX(720deg) rotateY(720deg) rotateZ(270deg) translateZ(10px)
      scale(1);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-90deg) translateZ(10px)
      scale(0.5);
  }
  25% {
    transform: rotateX(180deg) rotateY(-180deg) rotateZ(180deg) translateZ(10px)
      scale(0.75);
  }
  50% {
    transform: rotateX(360deg) rotateY(-360deg) rotateZ(-90deg) translateZ(10px)
      scale(1);
  }
  75% {
    transform: rotateX(540deg) rotateY(-540deg) rotateZ(0deg) translateZ(10px)
      scale(0.75);
  }
  100% {
    transform: rotateX(720deg) rotateY(-720deg) rotateZ(-270deg)
      translateZ(10px) scale(0.5);
  }
}

@keyframes rotate-outer {
  0% {
    transform: rotateY(0deg) rotateX(0deg) translateZ(30px);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg) translateZ(30px);
  }
}

@keyframes reverse-rotate-outer {
  0% {
    transform: rotateX(-360deg) rotateY(360deg) translateZ(30px);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) translateZ(30px);
  }
}

/* WAVE */

@keyframes wave {
  0% {
    opacity: 0.1;
    transform: scaleZ(1) rotateX(90deg) translateZ(0);
  }
  100% {
    opacity: 0.5;
    transform: scaleZ(2) rotateX(-90deg) translateZ(0);
  }
}

/* LAYOUT */

@keyframes color-change {
  0%,
  20%,
  100% {
    opacity: 0.5;
  }
  40%,
  60%,
  80% {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
