:root {
  --wide: 250px;
  --narrow: 200px;
  --green: rgb(3, 148, 46);

}

.circle {
  position: absolute;
  top: 55%;
  left: 15%;
  transform-style: preserve-3d;
  perspective: 1000px;
  box-shadow: 0 0 10px var(--green);
  border: 5px solid var(--green);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.circle.reverse-outer {
  width: var(--narrow);
  height: var(--wide);
  animation: reverse-rotate-outer 4s linear infinite;
}

.circle.outer {
  width: var(--narrow);
  height: var(--wide);

  animation: rotate-outer 5s linear infinite;
}

.circle.small {
    top: 70%;
    left: 22.5%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, -50%) rotateX(45deg) rotateY(45deg) rotateZ(-90deg)
    translateZ(50px);
  animation: rotate 3s linear infinite;
}

.circle.small2 {
  animation: rotate2 2s linear infinite;
  transform: translate(-50%, -50%) rotateX(405deg) rotateY(405deg)
    translateZ(30px) rotateZ(90deg);
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotateX(45deg) rotateY(45deg)
      rotateZ(-90deg) translateZ(30px);
    box-shadow: 0 0 10px var(--green);
  }
  to {
    transform: translate(-50%, -50%) rotateX(405deg) rotateY(405deg)
      rotateZ(90deg) translateZ(30px);
    box-shadow: 0 0 10px var(--green);
  }
}

@keyframes rotate2 {
  from {
    transform: translate(-50%, -50%) rotateX(405deg) rotateY(405deg)
      translateZ(30px) rotateZ(90deg);
    box-shadow: 0 0 10px var(--green);
  }
  to {
    transform: translate(-50%, -50%) rotateX(45deg) rotateY(45deg)
      translateZ(30px) rotateZ(-90deg);
    box-shadow: 0 0 10px var(--green);
  }
}

@keyframes rotate-outer {
  0% {
    transform: perspective(400px) rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(360deg) rotateX(360deg);
  }
}

@keyframes reverse-rotate-outer {
  0% {
    transform: perspective(400px) rotateX(0deg) rotateY(360deg);
  }
  100% {
    transform: perspective(400px) rotateX(360deg) rotateY(0deg);
  }
}
