:root {
  /* colors */
    --bg: rgba(0, 0, 0);
    --green: rgba(0, 128, 0, 0.719);
    --red: #fa0015;
    --yellow: rgba(255, 190, 11, 0.719);

  /* sizes */
  --font: clamp(8px, 1vw + 5px, 2vw);
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: monospace;
  font-size: var(--font);
  
}

body {
  padding: 0 1%;
  height: 100vh;
  -webkit-filter: saturate(0.7) blur(0.1px);
          filter: saturate(0.7) blur(0.1px);
  background-color: var(--bg);
  overflow: hidden;

}

header {
  text-align: right;
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 5px solid var(--green);
}

.display {
  height: calc(45vh - 2rem);
  padding: 5%;
  padding-bottom: 0;
}

.display:nth-child(odd) {
  border-right: 5px solid var(--green);
}

.display:nth-child(-n + 2) {
  border-bottom: 5px solid var(--green);
}

.d4 {
    display: flex;
}

.d4 pre:last-child {
    text-align: right;
}









footer {
    display: flex;   
    gap: 5px;
    align-items: center;
}

footer div {
    color: var(--yellow);
    animation: color-change 1s ease infinite;
}

@keyframes color-change {
    0% {
        color: var(--yellow);
    }
    50% {
        color: var(--green);
    }
    100% {
        color: var(--yellow);
    }
}

footer button {
    border: 5px solid var(--bg);
    color: var(--red);
    background: var(--bg);
}


